<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NoteVerse</title>
  </head>
  <body>
    <p>
      <ul>
        <% notes.forEach(note => { %>
          <li>
            <strong><%= note.title %></strong>
            <p><%= note.description %></p>
          </li>
        <% }) %>
      </ul>
    </p>
  </body>
</html>
